#posicionamento {
  padding-top: 10%;
  padding-left: 03%;
}
ion-content{
  --ion-background-color:rgb(18, 124, 32);
}

.Botao {
  padding-left: 7px;
}

h1 {
  text-align: center;
  padding-right: 38px ;
}

.square {
  width: 300px;
  height: 300px;
  font-size: 47px;
  background-size: 300px;
}